@use 'variables';
@use 'sprite/sprite';

// bullet
.bullet {
	$slef: &;
	&__item {
		position: relative;
		color: variables.$quinary-color;
		font-size: 1.4rem;
		line-height: 2.2rem;
		&:not(:first-child) {
			margin-top: 1.2rem;
		}
		&--dash {
			padding-left: 1rem;
			&:before {
				content: '-';
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				color: variables.$tertiary-color;
				font-size: 1.4rem;
				line-height: 2.2rem;
			}
		}
		&--info {
			padding-left: 2.4rem;
			&:before {
				content: '';
				display: block;
				position: absolute;
				left: 0;
				top: 0.4rem;
				@include sprite.retina-sprite(sprite.$ico-info-group, sprite.$ico-info-group-3x);
			}
		}
	}
	&__semibold {
		font-weight: 600;
	}
	&__separate {
		margin-top: 0.8rem;
		font-size: 1.4rem;
		line-height: 2.2rem;
	}
}