@use 'variables';
@use 'sprite/sprite';

// a11y
.a11y {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

// flexbox
.flexbox {
	display: flex;
	align-items: center;
	&:not(:last-child) {
		margin-bottom: 1.25rem;
	}
}

// flag
.flag {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 1.5rem;
	padding: 0 0.5rem;
	border-radius: 0.75rem;
	background-color: variables.$primary-color;
	color: #fff;
	font-weight: 600;
	font-size: 0.75rem;
	line-height: 1.125rem;
	&--secondary {
		background-color: #000;
		font-weight: 400;
	}
	&--new {
		height: 1rem;
		padding: 0 0.3125rem;
		font-weight: 700;
		font-size: 0.5rem;
	}
}

// point
.point { 
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 0.25rem;
	vertical-align: middle;
	&__mark {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 1rem;
		height: 1rem;
		border-radius: 50%;
		background-color: #FFD460;
		color: #CE7700;
		font-weight: 900;
		font-size: 0.625rem;
		text-align: center;
	}
	&__number {
		font-weight: 900;
		font-size: 1rem;
		line-height: 1.5rem;
	}
}

// coin
.coin {
	display: inline-flex;
	position: relative;
	filter: drop-shadow(0.25rem 0.5rem 1.25rem rgba(0,0,0,.16));
	@include sprite.retina-sprite(sprite.$ico-coin-group, sprite.$ico-coin-group-3x);
}

// overlap
.overlap {
	&__row {
		display: flex;
		gap: 0.5rem;
		overflow-x: auto;
		margin: 0 -1.5rem;
		padding: 0 1.5rem;
	}
	&__item {
		flex: 0 0 100%;
	}
	&__figure {
		clip-path: inset(0 round 1.25rem);

		img {
			width: 100%;
		}
	}
}

// upload
.upload {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 11.875rem;
	border: 0.0625rem dashed #D7D7E0;
	border-radius: 1.25rem;
	&__file {
		display: flex;
		flex-direction: column;
		gap: 0.75rem;
	}
	&__ico {
		position: relative;
		width: 2rem;
		height: 2rem;
		margin: 0 auto;
		border-radius: 50%;
		background-color: variables.$primary-color;
		&:before,
		&:after {
			content: '';
			position: absolute;
			left: 50%;
			top: 50%;
			display: block;
			border-radius: 100vw;
			background-color: #fff;
		}
		&:before {
			width: 0.125rem;
			height: 1rem;
			margin-left: -0.0625rem;
			margin-top: -0.5rem;
		}
		&:after {
			width: 1rem;
			height: 0.125rem;
			margin-left: -0.5rem;
			margin-top: -0.0625rem;
		}
	}
	&__text {
		color: #8D94A0;
		font-size: 0.875rem;
		line-height: 1rem;
	}
}