@use 'mixins';
@use 'variables';
@use 'sprite/sprite';

// a11y
.a11y {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

// flexbox
.flexbox {
	display: flex;
	align-items: center;
	justify-content: space-between;
	&:not(:last-child) {
		margin-bottom: 2rem;
	}
	&--column {
		flex-direction: column;
		align-items: flex-start;
		
		.title {
			&:not(:last-child) {
				margin-bottom: 0.8rem;
			}
		}
	}
}

// flag
.flag {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 2.4rem;
	padding: 0 0.8rem;
	border-radius: 1.2rem;
	background-color: variables.$secondary-color;
	color: variables.$primary-color;
	font-weight: 600;
	font-size: 1.2rem;
	line-height: 1.8rem;
	&--secondary {
		background-color: variables.$quaternary-color;
		color: variables.$quinary-color;
	}
	&--new {
		height: 1.6rem;
		padding: 0 0.5rem;
		font-weight: 700;
		font-size: 0.8rem;
	}
}

// point
.point { 
	display: inline-flex;
	align-items: center;
	justify-content: center;
	// grid-gap: 0.4rem;
	&__mark {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 1.6rem;
		height: 1.6rem;
		border-radius: 50%;
		background-color: #FFD460;
		color: #CE7700;
		font-weight: 900;
		font-size: 1rem;
		line-height: 2.2rem;
		text-align: center;
		&:not(:last-child) {
			margin-right: 0.4rem;
		}
	}
	&__number {
		font-weight: 900;
		font-size: 1.6rem;
		line-height: 2.4rem;
	}
}

// coin
.coin {
	display: inline-flex;
	position: relative;
	@include sprite.retina-sprite(sprite.$ico-coin-group, sprite.$ico-coin-group-3x);
}

// overlap
.overlap {
	&__row {
		display: flex;
		// grid-gap: 0.8rem;
		overflow-x: auto;
		margin: 0 -2.4rem;
		padding: 0 2.4rem;
	}
	&__item {
		flex: 0 0 100%;
		&:not(:first-child) {
			margin-left: 0.8rem;
		}
	}
	&__figure {
		clip-path: inset(0 round 2rem);

		img {
			width: 100%;
		}
	}
}

// upload
.upload {
	$self: &;
	&__mask {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		height: 48.72vw;
		border: 0.1rem dashed #D7D7E0;
		border-radius: 2rem;
	}
	&__uploaded {
		position: absolute;
		left: -0.1rem;
		top: -0.1rem;
		right: -0.1rem;
		bottom: -0.1rem;
		z-index: 1;
		clip-path: inset(0 round 2rem);

		img {
			width: 100%;
			height: 100%;
		}
	}
	&__complete {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		// grid-gap: 1.2rem;
		position: absolute;
		left: -1px;
		top: -1px;
		right: -1px;
		bottom: -1px;
		z-index: 2;
		background-color: rgba(0,0,0,0.4);
		clip-path: inset(0 round 2rem);
		#{$self}__text {
			color: #fff;
			font-weight: 600;
			font-size: 1.8rem;
			line-height: 2.4rem;
			&:not(:first-child) {
				margin-top: 1.2rem;
			}
		}
	}
	&__file {
		display: flex;
		flex-direction: column;
		// grid-gap: 1.2rem;
		#{$self}__ico {
			position: relative;
			width: 3.2rem;
			height: 3.2rem;
			margin: 0 auto;
			border-radius: 50%;
			background-color: variables.$primary-color;
			&:before,
			&:after {
				content: '';
				position: absolute;
				left: 50%;
				top: 50%;
				display: block;
				border-radius: 100vw;
				background-color: #fff;
			}
			&:before {
				width: 0.2rem;
				height: 1.6rem;
				margin-left: -0.1rem;
				margin-top: -0.8rem;
			}
			&:after {
				width: 1.6rem;
				height: 0.2rem;
				margin-left: -0.8rem;
				margin-top: -0.1rem;
			}
		}
		#{$self}__text {
			color: variables.$senary-color;
			font-size: 1.4rem;
			line-height: 1.6rem;
			&:not(:first-child) {
				margin-top: 1.2rem;
			}
		}
	}
	&__change {
		display: flex;
		align-items: center;
		// grid-gap: 0.8rem;
		font-size: 1.4rem;
		line-height: 1.6rem;

		i {
			margin-right: 0.8rem;
			@include sprite.retina-sprite(sprite.$ico-change-group, sprite.$ico-change-group-3x);
		}
	}
}

// between list
.between-item {
	$self: &;
	&__list {
		font-weight: 600;
		font-size: 1.6rem;
		line-height: 2.4rem;
			
		.point {
			#{$self}__number {
				font-size: inherit;
				line-height: inherit;
			}
		}
	}
	&__group {
		display: flex;
		justify-content: space-between;
		&:not(:first-child) {
			margin-top: 2rem;
		}
	}
	&__dt {
		color: variables.$tertiary-color;
	}
	&__dd {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: center;
		width: 65%;
		color: variables.$quinary-color;
		text-align: right;

		.group {
			&:not(:first-child) {
				margin-top: 1.6rem;
			}
		}
	}
	&--secondary {
		#{$self}__list {
			font-size: 1.4rem;
			line-height: 2.2rem;
		}
		#{$self}__group {
			&:not(:first-child) {
				margin-top: 1.2rem;
			}
		}
		#{$self}__dt {
			font-weight: 400;
		}
		#{$self}__dd {
			color: #000;
		}
	}
	
	.point {
		&__number {
			color: #000;
		}
	}
}

// rating
.rating {
	@include sprite.retina-sprite(sprite.$ico-rating-group, sprite.$ico-rating-group-3x);
	&__bar {
		@include sprite.retina-sprite(sprite.$ico-rating-bar-group, sprite.$ico-rating-bar-group-3x);
	}
}

// toggle
.toggle {
	display: flex;
	align-items: center;
	// grid-gap: 0.8rem;
	&__text {
		color: variables.$tertiary-color;
		font-size: 1.4rem;
		line-height: 2.6rem;
		&:not(:last-child) {
			margin-right: 0.8rem;
		}
	}
	
	input[type='checkbox'] {
		position: relative;
		width: 3.6rem;
		height: 2rem;
		background: none;
		border-radius: 1.2rem;
		background-color: #CCCCD1;
		&:before {
			content: '';
			display: block;
			position: absolute;
			right: 0.2rem;
			top: 50%;
			width: 1.6rem;
			height: 1.6rem;
			border-radius: 50%;
			background-color: #fff;
			@include mixins.translate(0,-50%);
		}
		&:checked {
			background-color: variables.$primary-color;
			&:before {
				left: 0.2rem;
				right: auto;
			}
		}
	}
}