@use 'variables';
@use 'sprite/sprite';

// contents
.contents {
	$self: &;
	display: flex;
	flex-direction: column;
	row-gap: 2.5rem;
	padding: 5.25rem 0 calc(constant(safe-area-inset-bottom) + 2.5em);
	padding: 5.25rem 0 calc(env(safe-area-inset-bottom) + 2.5em);
	&__separate {
		padding: 0 calc(constant(safe-area-inset-right) + 1.5rem) 0 calc(constant(safe-area-inset-left) + 1.5rem);
		padding: 0 calc(env(safe-area-inset-right) + 1.5rem) 0 calc(env(safe-area-inset-left) + 1.5rem);

		> .button {
			&:not(:first-child) {
				margin-top: 1.75rem;
			}
		}
	}
	&__card {
		padding: 2rem 1.5rem;
		border-radius: 1.25rem;
		background-color: #fff;
		&:not(:first-child) {
			margin-top: 1.25rem;
		}
		#{$self}__group {
			&:not(:first-child) {
				margin-top: 2.5rem;
			}
		}

		> .flag {
			&:first-child {
				margin-bottom: 0.75rem;
			}
		}
	}
	&__round {
		padding: 1.25em calc(constant(safe-area-inset-right) + 1.5rem) 1.25em calc(constant(safe-area-inset-left) + 1.5rem);
		padding: 1.25em calc(env(safe-area-inset-right) + 1.5rem) 1.25em calc(env(safe-area-inset-left) + 1.5rem);
		border-radius: 2.5rem 2.5rem 0 0;
	}
	// &__bottom {
	// 	margin-top: auto;
	// 	border-radius: 2.5rem 2.5rem 0 0;
	// 	background-color: variables.$secondary-color;
	// }
	// &__overlap {
	// 	padding: 1.25em calc(constant(safe-area-inset-right) + 1.5rem) 1.25em calc(constant(safe-area-inset-left) + 1.5rem);
	// 	padding: 1.25em calc(env(safe-area-inset-right) + 1.5rem) 1.25em calc(env(safe-area-inset-left) + 1.5rem);
	// 	border-radius: 2.5rem 2.5rem 0 0;
	// 	&:last-child {
	// 		padding-bottom: calc(constant(safe-area-inset-bottom) + 7rem);
	// 		padding-bottom: calc(env(safe-area-inset-bottom) + 7rem);
	// 	}
	// 	&--white {
	// 		background-color: #fff;
	// 	}
	// }
}