@use 'variables';
@use 'sprite/sprite';

.form {
	$self: &;
	&__set {

	}
	&__head {
		display: flex;
		&:not(:last-child) {
			margin-bottom: 0.75rem;
		}
	}
	&__label {
		color: #8D94A0;
		font-size: 0.875rem;
		line-height: 1.375rem;
	}
	&__field {
		display: flex;
	}
	&__col {
		flex: 1;
		position: relative;
	}
	&__ico {
		position: absolute;
		right: 0;
		top: 0.1875rem;
		&--check {
			@include sprite.retina-sprite(sprite.$ico-check-group, sprite.$ico-check-group-3x);
		}
		&--error {
			@include sprite.retina-sprite(sprite.$ico-error-group, sprite.$ico-error-group-3x);
		}
	}
	&__msg {
		font-size: 0.875rem;
		line-height: 1.25rem;
		&:not(:first-child) {
			margin-top: 0.5rem;
		}
		&--check {
			color: variables.$primary-color;
		}
		&--error {
			color: variables.$form-error;
		}
	}
}