@use 'variables';
@use 'sprite/sprite';

.form {
	$self: &;
	&__head {
		display: flex;
		&:not(:last-child) {
			margin-bottom: 1.2rem;
		}
	}
	&__label {
		color: variables.$form-label;
		font-size: 1.4rem;
		line-height: 2.2rem;
	}
	&__field {
		display: flex;
	}
	&__col {
		flex: 1;
		position: relative;
	}
	&__ico {
		position: absolute;
		right: 0;
		top: 0.3rem;
		&--check {
			@include sprite.retina-sprite(sprite.$ico-check-group, sprite.$ico-check-group-3x);
		}
		&--error {
			@include sprite.retina-sprite(sprite.$ico-error-group, sprite.$ico-error-group-3x);
		}
	}
	&__msg {
		font-size: 1.4rem;
		line-height: 2rem;
		&:not(:first-child) {
			margin-top: 0.8rem;
		}
		&--check {
			color: variables.$primary-color;
		}
		&--error {
			color: variables.$form-error;
		}
	}
}