@use 'variables';
@use 'sprite/sprite';

// body background
.floor {
	background-color: variables.$quaternary-color;
  touch-action: pan-x pan-y;
	&--white {
		background-color: #fff;

		.header {
			background-color: #fff;
		}
	}
	&--black {
		background-color: #000;

		.header {
			$self: '.' + header;
			background-color: #000;
			&__title {
				color: #fff;
				#{$self}__unit {
					opacity: .5;
				}
			}
			&__back {
				@include sprite.retina-sprite(sprite.$ico-back-white-group, sprite.$ico-back-white-group-3x);
			}
		}
	}
}

// modal open scroll lock
.scrolllock {
	overflow: hidden;
	position: fixed;
	left: 0;
	width: 100%;
}