@use 'mixins';
@use 'variables';

// title
.title {
	$self: &;
	font-weight: 700;
	font-size: 2.4rem; // 24px
	line-height: 3.2rem; // 32px
	&--secondary {
		font-weight: 700;
		font-size: 1.8rem; // 18px
		line-height: 2.6rem; // 26px
	}
	&--tertiary {
		font-weight: 600;
		font-size: 1.6rem; // 16px
		line-height: 2.4rem; // 24px
	}
	&--quaternary {
		font-weight: 600;
		font-size: 1.4rem; // 14px
		line-height: 2.2rem; // 22px
	}
	&--secondary-color {
		color: variables.$tertiary-color;
	}
}

// desc
.desc {
	$self: &;
	font-size: 1.6rem; // 16px
	line-height: 2.4rem; // 24px
	&--secondary {
		font-size: 1.4rem; // 14px
		line-height: 2.2rem; // 22px
	}
	&--tertiary {
		font-size: 1.2rem; // 12px
		line-height: 1.8rem; // 18px
	}
	&--secondary-color {
		color: variables.$tertiary-color;
	}
	&--tertiary-color {
		color: variables.$quinary-color;
	}
	&__weight-black {
		font-weight: 900;
	}
	&__weight-bold {
		font-weight: 700;
	}
}