// primary color
$primary-color: #748BFF;
$secondary-color: #EDF0FF;
$tertiary-color: #8D94A0;
$quaternary-color: #F4F4F8;
$quinary-color: #505866;
$senary-color: #9294A0;

// stroke
$stroke: #E7E7F0;

// form
$form-error: #FC5239;