@use 'fonts';
@use 'reset';
@use 'buttons';
@use 'typographys';
@use 'forms';
@use 'icons';
@use 'components';
@use 'swiper';
@use 'header';
// @use 'nav';
@use 'contents';
// @use 'challenge';

// special challenge
.special-challenge {
	$self: &;
	&__intro {
		#{$self}__top {
			.title {
				margin-bottom: 2.1rem;
				
				span {
					vertical-align: middle;
				}
			}
		}
	}
	&__promo {
		// margin-top: 7.1875rem;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0.4rem;
	}

	.button {
		&:not(:first-child) {
			margin-top: 1.25rem;
		}
	}
}