@use 'mixins';
@use 'variables';
@use 'sprite/sprite';
@use 'fonts';
@use 'reset';
@use 'buttons';
@use 'typographys';
@use 'forms';
@use 'icons';
@use 'modal';
@use 'components';
@use 'swiper';
@use 'layout';
@use 'header';
// @use 'nav';
@use 'contents';
// @use 'challenge';

// special challenge
.special-challenge {
	$self: &;
	&__intro {
		#{$self}__top {
			
			.title {
				margin-bottom: 2.1rem;
				
				span {
					vertical-align: middle;
				}
			}
		}

		.button {
			&:not(:first-child) {
				margin-top: 2rem;
			}
		}
	}
	&__promo {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0.4rem;
	}
	&__upload {
		#{$self}__filter {
			display: flex;
			justify-content: flex-end;
			margin-bottom: 2rem;
		}
		#{$self}__preview {
			height: calc(100vw - 4.8rem);
			clip-path: inset(0 round 2rem);

			img {
				width: 100%;
				height: 100%;
			}
		}
		#{$self}__file {
			margin-top: 1.2rem;
			#{$self}__list {
				display: grid;
				grid-template-columns: 1fr 1fr 1fr;
				gap: 0.4rem;
			}
			#{$self}__item {
				height: calc((100vw - 5.6rem) / 3);
				clip-path: inset(0 round 1.6rem);
				&--selected {
					position: relative;
					&:before,
					&:after {
						content: '';
						display: block;
						position: absolute;
					}
					&:before {
						left: 0;
						top: 0;
						width: 100%;
						height: 100%;
						background-color: rgba(0,0,0,.2);
					}
					&:after {
						right: 0.8rem;
						top: 0.8rem;
						@include sprite.retina-sprite(sprite.$ico-checkbox-on-group, sprite.$ico-checkbox-on-group-3x);
					}
				}

				img {
					width: 100%;
					height: 100%;
				}
			}
		}

		.button {
			&:not(:first-child) {
				margin-top: 1.2rem;
			}
		}
	}
	&__data {
		#{$self}__box {
			display: flex;
			align-items: center;
			justify-content: space-between;
			position: relative;
			height: 6.4rem;
			padding: 0 2rem;
			border: 0.1rem solid variables.$stroke;
			border-radius: 1.2rem;
			background-color: #fff;
			&:not(:first-child) {
				margin-top: 2.8rem;
				&:before {
					content: '';
					display: block;
					position: absolute;
					left: 50%;
					top: -2.2rem;
					width: 0.9rem;
					height: 0.9rem;
					margin-left: -0.5rem;
					border-right: 0.1rem solid #000;
					border-bottom: 0.1rem solid #000;
					@include mixins.rotate(45);
				}
			}
		}
		#{$self}__value {
			color: variables.$senary-color;
			font-weight: 700;
			font-size: 1.8rem;
			line-height: 2.4rem;
		}
	}
}