@use 'mixins';
@use 'variables';
@use 'sprite/sprite';
@use 'fonts';
@use 'reset';
@use 'buttons';
@use 'typographys';
@use 'forms';
@use 'icons';
@use 'modal';
@use 'bullet';
@use 'accordion';
@use 'components';
@use 'swiper';
@use 'layout';
@use 'header';
@use 'contents';

// special challenge
.special-challenge {
	$self: &;
	&__intro {
		display: flex;
		flex-direction: column;
		min-height: calc(var(--vh, 1vh) * 100 - 10.4rem);
		padding-top: 3.3rem;
		#{$self}__top {
			
			.title {
				margin-bottom: 2.1rem;
				
				span {
					vertical-align: middle;
				}
			}
		}
		#{$self}__bottom {
			margin-top: auto;

			.button {
				&:not(:first-child) {
					margin-top: 20px;
				}
			}
		}
		#{$self}__promo {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 0.4rem;
		}
	}
	&__upload {
		#{$self}__filter {
			display: flex;
			justify-content: flex-end;
			margin-bottom: 2rem;
		}
		#{$self}__preview {
			height: calc(100vw - 4.8rem);
			clip-path: inset(0 round 2rem);

			img {
				width: 100%;
				height: 100%;
			}
		}
		#{$self}__file {
			margin-top: 1.2rem;
			#{$self}__list {
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				grid-auto-rows: calc((100vw - 5.6rem) / 3);
				gap: 0.4rem;
			}
			#{$self}__item {
				position: relative;
				clip-path: inset(0 round 1.6rem);

				input[type='radio'] {
					position: absolute;
					top: 0.8rem;
					right: 0.8rem;
					z-index: 1;
					&:checked + label {
						&:before {
							content: '';
							display: block;
							position: absolute;
							left: 0;
							top: 0;
							width: 100%;
							height: 100%;
							background-color: rgba(0,0,0,.2);
						}
					}
				}

				label {
					display: block;
					position: relative;
					height: 100%;

					img {
						width: 100%;
						height: 100%;
					}
				}
			}
		}

		.button {
			&:not(:first-child) {
				margin-top: 1.2rem;
			}
		}
	}
	&__data {
		#{$self}__box {
			display: flex;
			align-items: center;
			justify-content: space-between;
			position: relative;
			height: 6.4rem;
			padding: 0 2rem;
			border: 0.1rem solid variables.$stroke;
			border-radius: 1.2rem;
			background-color: #fff;
			&:not(:first-child) {
				margin-top: 2.8rem;
				&:before {
					content: '';
					display: block;
					position: absolute;
					left: 50%;
					top: -2.2rem;
					width: 0.9rem;
					height: 0.9rem;
					margin-left: -0.5rem;
					border-right: 0.1rem solid #000;
					border-bottom: 0.1rem solid #000;
					@include mixins.rotate(45);
				}
			}
		}
		#{$self}__value {
			color: variables.$senary-color;
			font-weight: 700;
			font-size: 1.8rem;
			line-height: 2.4rem;
		}
	}

	> .title {
		&:first-child {
			margin-top: 2rem;
		}
	}
}

// challenge
.challenge {
	$self: &;
	&__box {
		padding: 2.4rem calc(constant(safe-area-inset-right) + 2.4rem) 4rem calc(constant(safe-area-inset-left) + 2.4rem);
		padding: 2.4rem calc(env(safe-area-inset-right) + 2.4rem) 4rem calc(env(safe-area-inset-left) + 2.4rem);
		background-color: #fff;
		&:first-child {
			padding-top: 2rem;
			#{$self}__intro {
				margin-top: -2rem;
			}
		}
		&:last-child {
			padding-bottom: calc(constant(safe-area-inset-bottom) + 4rem);
			padding-bottom: calc(env(safe-area-inset-bottom) + 4rem);
		}
		&:not(:first-child) {
			border-top: 1.6rem solid variables.$quaternary-color;
		}

		> .flexbox {
			&:not(:last-child) {
				margin-bottom: 2.4rem;
			}
		}

		.overlap {
			$overlap: '.' + overlap;
			&__row {
				gap: 1.2rem;
			}
			&__item {
				flex: none;
				position: relative;
				width: 41.03vw;
				height: 51.28vw;
			}
			&__figure {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				&:before {
					content: '';
					display: block;
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					background: linear-gradient(180deg, #00000000 0%, #00000098 100%) 0% 0% no-repeat;
				}
		
				img {
					width: 100%;
					height: 100%;
				}
			}
			&__figcaption {
				display: flex;
				flex-direction: column-reverse;
				position: relative;
				height: 100%;
				padding: 1.6rem 1.5rem;
				color: #fff;
			}
			&__id {
				font-size: 1.2rem;
			}
			&__text {
				font-weight: 700;
				font-size: 1.6rem;
				line-height: 2.4rem;
			}

			#{$self}__graybox {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				height: 100%;
				padding: 1.6rem;

				#{$overlap}__id {
					color: variables.$quinary-color;
				}

				pre {
					color: variables.$quinary-color;
					font-weight: 600;
					font-size: 1.6rem;
					line-height: 2.4rem;
					@include mixins.ellipse(5);
					white-space: pre-line;
				}

				button {
					align-self: flex-end;
					color: variables.$tertiary-color;
					text-decoration: underline;
				}
			}
		}

		.empty {
			&__text {
				color: variables.$tertiary-color;
				font-weight: 600;
				font-size: 1.6rem;
				line-height: 2.4rem;
				text-align: center;
			}
		}

		.agree-challenge {
			$agree-challenge: '.' + agree-challenge;
			&__util {
				display: flex;
				align-items: center;
				font-size: 1.6rem;
			}
			&__current {
				margin-right: 0.4rem;
				color: #000;
				font-weight: 700;
				font-size: 2.4rem;
			}
			&__max {
				margin-left: 0.4rem;
				color: #000;
				color: variables.$tertiary-color;
			}
			&__refresh {
				margin-left: 0.8rem;
				@include sprite.retina-sprite(sprite.$ico-refresh-group, sprite.$ico-refresh-group-3x);
			}
			&__board {
				margin-top: 1.2rem;
				padding: 2rem 2rem 5.6rem;
				border: 0.1rem solid variables.$stroke;
				border-radius: 2rem;
				background-color: variables.$quaternary-color;
				#{$agree-challenge}__edit {
					color: variables.$primary-color;
					font-size: 1.4rem;
					text-align: right;
				}

				pre {
					margin-top: 2rem;
					color: variables.$tertiary-color;
					font-size: 1.6rem;
					line-height: 2.4rem;
					white-space: pre-line;
				}
			}

			.bullet {
				&:not(:first-child) {
					margin-top: 4rem;
				}
				&__item {
					font-size: 1.6rem;
					line-height: 2.4rem;
					&:not(:first-child) {
						margin-top: 2rem;
					}
				}
			}
	
			.button {
				&:not(:first-child) {
					margin-top: 2rem;
				}
			}
		}

		.accordion {
			&:last-child {
				margin-bottom: -1.6rem;
			}
			&__panel {
				padding-bottom: 1.6rem;
			}
		}
	}
	&__intro {
		#{$self}__type {
			display: flex;
			justify-content: center;
			margin-bottom: 2.4rem;

			img {
				width: 240px;
				height: 240px;
			}
		}
		#{$self}__summary {
			text-align: center;

			.title {
				&:not(:first-child) {
					margin-top: 0.8rem;
				}
				&:not(:last-child) {
					margin-bottom: 2.4rem;
				}
			}
		}
		#{$self}__info {
			&:not(:first-child) {
				margin-top: 2rem;
			}
			#{$self}__row {
				display: flex;
				gap: 1.2rem;
				&:not(:first-child) {
					margin-top: 1.6rem;
				}
			}
			#{$self}__ico {
				display: flex;
				flex: none;
				&--calendar {
					
					i {
						@include sprite.retina-sprite(sprite.$ico-challenge-calendar-group, sprite.$ico-challenge-calendar-group-3x);
					}
				}
				&--count {
					
					i {
						@include sprite.retina-sprite(sprite.$ico-challenge-count-group, sprite.$ico-challenge-count-group-3x);
					}
				}
				&--auth {
					
					i {
						@include sprite.retina-sprite(sprite.$ico-challenge-auth-group, sprite.$ico-challenge-auth-group-3x);
					}
				}
			}
			#{$self}__text {
				color: variables.$quinary-color;
				font-weight: 600;
				font-size: 1.6rem;
				line-height: 2.4rem;
				&--secondary {
					color: #CCCCD1;
				}
			}
		}
		#{$self}__graybox {
			border-radius: 1.2rem;
		}
		&--beginning {
			#{$self}__type {

				img {
					width: 100px;
					height: 100px;
				}
			}
		}

		.button {
			&:not(:first-child) {
				margin-top: 3.2rem;
			}
		}
	}
	&__total {
		
		.flexbox {
			&:not(:last-child) {
				margin-bottom: 0.8rem;
			}
		}

		.point {
			&__text {
				font-weight: 700;
				font-size: 1.4rem;
				line-height: 2.4rem;
			}
		}

		.between-item {
			margin-top: 2.4rem;
			padding-top: 2.4rem;
			border-top: 0.1rem solid variables.$stroke;
			&__group {
				&:not(:first-child) {
					margin-top: 1.2rem;
				}
			}
			&__dt {
				color: variables.$quinary-color;
				font-weight: 400;
			}
		}
	}
	&__bottom {
		padding: 2.8rem calc(constant(safe-area-inset-right) + 2.4rem) calc(constant(safe-area-inset-bottom) + 4rem) calc(constant(safe-area-inset-left) + 2.4rem);
		padding: 2.8rem calc(env(safe-area-inset-right) + 2.4rem) calc(env(safe-area-inset-bottom) + 4rem) calc(env(safe-area-inset-left) + 2.4rem);
		background-color: variables.$quaternary-color;
	}
	&__challenge {
		&:last-child {
			#{$self}__row {
				&:last-child {
					padding-bottom: 0;
				}
			}
		}
		#{$self}__row {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding-bottom: 2.4rem;
			&:not(:first-child) {
				padding-top: 2.4rem;
				border-top: 0.1rem solid variables.$stroke;
			}
		}
	}
	&__graybox {
		padding: 2rem;
		border-radius: 2rem;
		background-color: variables.$quaternary-color;
	}

	.time {
		$time: '.' + time;
		&__row {
			display: flex;
			align-items: baseline;
			justify-content: center;
			gap: 1.2rem;
		}	
		&__count {
			display: flex;
			gap: 0.4rem;
		}
		&__number {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 4.2rem;
			height: 5.3rem;
			border-radius: 0.8rem;
			background-color: variables.$quaternary-color;
			font-weight: 700;
			font-size: 2.4rem;
			text-align: center;
		}
		&__symbol {
			font-weight: 700;
			font-size: 2.4rem;
		}
		&__unit {
			margin-top: 1.2rem;
			color: variables.$quinary-color;
			font-size: 1.4rem;
			line-height: 2.6rem;
			text-align: center;
		}
	}

	.progress {
		$progress: '.' + progress;
		&:not(:first-child) {
			margin-top: 2.4rem;
		}
		&__total {
			display: flex;
			align-items: center;
			gap: 0.4rem;
			font-size: 1.6rem;
		}
		&__current {
			font-weight: 700;
			font-size: 2.4rem;
		}
		&__max {
			color: variables.$tertiary-color;
			#{$progress}__text {
				color: #000;
			}
		}
		&__bar {
			display: flex;
			height: 1.6rem;
			border-radius: 0.8rem;
			background-color: variables.$secondary-color;
			&:not(:first-child) {
				margin-top: 1.2rem;
			}
			
			span {
				height: 100%;
				border-radius: 0.8rem;
				background-color: variables.$primary-color;
				@include mixins.transition(.5s, ease-in-out);
			}
		}
		&__donut {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			flex-direction: column;
			gap: 3px;
			overflow: hidden;
			position: relative;
			width: 300px;
			height: 150px;
			padding-bottom: 28px;
			margin: 0 auto;
			font-size: 14px;
			&:after{
				content: '';
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				width: 300px;
				height: 300px;
				border: 40px solid;
				border-color : variables.$secondary-color variables.$secondary-color variables.$primary-color variables.$primary-color;
				border-radius: 50%;
				animation: progressCircle 1s ease forwards;
				@keyframes progressCircle {
					0%{transform : rotate(-45deg);}
					100%{transform: rotate(calc(1deg * ( -45 + var(--percentage) * 1.8 )));}
				}
			}
			#{$progress}__percentage {
				font-weight: 700;
				font-size: 32px;
				#{$progress}__unit {
					font-size: 16px;
				}
			}
			#{$progress}__total {
				color: variables.$tertiary-color;
				font-size: 14px;
			}
			#{$progress}__current {
				color: #000;
				font-size: inherit;
			}
		}

		.button {
			&:not(:first-child) {
				margin-top: 1.2rem;
			}
		}
	}

	.feed {
		$feed: '.' + feed;
		padding: 1.6rem calc(constant(safe-area-inset-right) + 2.4rem) 4rem calc(constant(safe-area-inset-left) + 2.4rem);
		padding: 1.6rem calc(env(safe-area-inset-right) + 2.4rem) 4rem calc(env(safe-area-inset-left) + 2.4rem);
		color: #fff;
		&__top {
			display: flex;
			align-items: flex-end;
			justify-content: space-between;
			margin-bottom: 1.6rem;
			#{$feed}__left {
				display: block;
			}
		}
		&__id {
			font-weight: 600;
			font-size: 1.4rem;
			line-height: 2.2rem;
		}
		&__time {
			font-size: 1.2rem;
			line-height: 1.8rem;
			opacity: .5;
		}
		&__util {
			font-size: 1.2rem;
			line-height: 1.8rem;
			opacity: .5;
		}
		&__img {
			margin: 0 -2.4rem;

			.swiper {
				&-slide {
					height: 100vw;

					img {
						width: 100%;
						height: 100%;
					}
				}
				&-button-prev,
				&-button-next {
					margin-top: -16px;
					&:after {
						display: none;
					}
				}
				&-button-prev {
					left: 24px;
					@include sprite.retina-sprite(sprite.$ico-swiper-prev-group, sprite.$ico-swiper-prev-group-3x);
				}
				&-button-next {
					right: 24px;
					@include sprite.retina-sprite(sprite.$ico-swiper-next-group, sprite.$ico-swiper-next-group-3x);
				}
			}
		}
		&__info {
			margin-top: 3.2rem;

			.flexbox {
				justify-content: flex-start;
				gap: 0.8rem;
			}
		}
		&__title {
			font-weight: 700;
			font-size: 1.8rem;
			line-height: 2.6rem;
			&--secondary {
				color: variables.$primary-color;
			}
		}
		&__detail {
			font-size: 1.4rem;
			line-height: 2.2rem;
			#{$feed}__row {
				&:not(:first-child) {
					margin-top: 2rem;
				}
			}

			dt {
				font-weight: 600;
				margin-bottom: 1.2rem;
			}

			dd {
				opacity: .5;
			}
		}
	}

	.auth-day {
		$authday: '.' + auth-day;
		&:not(:first-child) {
			margin-top: 2rem;
		}
		&__row {
			display: flex;
			gap: 2.4rem;
			overflow-x: auto;
		}
		&__item {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 0.8rem;
			#{$authday}__day {
				font-size: 1.4rem;
				line-height: 2.2rem;
				&--holiday {
					color: #FC5239;
				}
				&--saturday {
					color: variables.$primary-color;
				}
			}
			#{$authday}__circle {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 3.2rem;
				height: 3.2rem;
				border-radius: 50%;
				background-color: variables.$quaternary-color;
				color: variables.$quinary-color;
				font-weight: 600;
				font-size: 1.4rem;
				line-height: 2.2rem;
				text-align: center;
			}
			#{$authday}__text {
				font-size: 1.2rem;
				line-height: 1.8rem;
			}
			&--completed {
				#{$authday}__circle {
					background-color: variables.$primary-color;
					color: #fff;
				}
			}
		}
		&--complete {
			#{$authday}__row {
				gap: 0.8rem;
			}
			#{$authday}__item {
				flex: none;
				width: 7.2rem;
			}
		}
	}

	.race {
		$race: '.' + race;
		&__list {
			&:not(:first-child) {
				margin-top: 2.4rem;
			}
		}
		&__item {
			&:not(:first-child) {
				margin-top: 1.6rem;
			}
			#{$race}__group {
				display: flex;
				align-items: center;
				gap: 0.4rem;
				&:not(:first-child) {
					margin-top: 0.8rem;
				}
			}
		}

		.flexbox {
			&:not(:last-child) {
				margin-bottom: 0.8rem;
			}
		}
	}

	.member {
		$member: '.' + member;
		&:not(:first-child) {
			margin-top: 2.4rem;
		}
		&__header {
			&:not(:last-child) {
				margin-bottom: 2rem;
			}
		}
		&__title {
			font-weight: 600;
			font-size: 1.6rem;
			line-height: 2.6rem;
		}
		&__item {
			&:not(:first-child) {
				#{$member}__row {
					padding-top: 1.2rem;
					border-top: 0.1rem solid variables.$stroke;
				}
			}
			&:not(:last-child) {
				padding-bottom: 1.2rem;
			}
			#{$member}__row {
				display: flex;
				align-items: center;
				gap: 1.2rem;
			}
			#{$member}__figure {
				flex: none;
				border-radius: 50%;
				width: 3.2rem;
				line-height: 3.2rem;
			}
			#{$member}__right {
				flex: 1;
				#{$member}__group {
					display: flex;
					align-items: center;
					gap: 0.8rem;
				}
			}
			#{$member}__user {
				font-weight: 600;
				font-size: 1.4rem;
				line-height: 2.4rem;
			}
		}
	}

	.process {
		$process: '.' + process;
		&__process {
			display: flex;
			justify-content: space-between;
			position: relative;
			width: 69.74vw;
			margin: 0 auto;
			&:before {
				content: '';
				display: block;
				position: absolute;
				left: 0;
				top: 1.5rem;
				right: 0;
				height: 0.2rem;
				background-color: variables.$quaternary-color;
			}
			&:after {
				content: '';
				display: block;
				position: absolute;
				left: 0;
				top: 1.5rem;
				height: 0.2rem;
				background-color: variables.$primary-color;
			}
			&--first {
				#{$process}__item {
					&:nth-child(1) {
						#{$process}__circle {
							background-color: variables.$primary-color;
							color: #fff;
						}
					}
				}
			}
			&--second {
				&:after {
					width: 50%;
				}
				#{$process}__item {
					&:nth-child(1),
					&:nth-child(2) {
						#{$process}__circle {
							background-color: variables.$primary-color;
							color: #fff;
						}
					}
				}
			}
			&--third {
				&:after {
					width: 100%;
				}
				&:nth-child(1),
				&:nth-child(2),
				&:nth-child(3) {
					#{$process}__circle {
						background-color: variables.$primary-color;
						color: #fff;
					}
				}
			}
		}
		&__item {
			display: flex;
			flex-direction: column-reverse;
			gap: 0.8rem;
			position: relative;
			z-index: 1;
		}
		&__circle {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 3.2rem;
			height: 3.2rem;
			border-radius: 50%;
			background-color: variables.$quaternary-color;
			color: variables.$tertiary-color;
			font-weight: 600;
			font-size: 1.4rem;
			line-height: 2.2rem;
			text-align: center;
		}
		&__text {
			position: absolute;
			left: 50%;
			bottom: 0;
			font-size: 1.4rem;
			text-align: center;
			@include mixins.translate(-50%,0);
		}
		&--spot {
			#{$process}__item {
				padding-bottom: 2.4rem;
			}
		}
	}
}